body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.component {
  padding: 20px;
  margin-left: 60px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.search-bar input {
  padding: 5px;
  width: 200px;
  margin-right: 10px;
}

.search-bar button {
  padding: 5px 10px;
  margin: 20px;
}

table {
  width: 70%; /* Set the table width to 60% */
  border-collapse: collapse;
  margin-bottom: 20px; /* Add some margin at the bottom */
  
}

table th,
table td {
  border: 1px solid #eee; /* Lightest border color */
  padding: 10px;
  text-align: center;
  
}
table th:nth-child(7), /* Select the 7th column (Action column) */
table td:nth-child(7) {
  width: 15%; /* Adjust the width as needed */
}

table th {
  background-color: #001f3f; /* Dark blue background */
  color: white; /* White text */
}

table td {
  background-color: #fff;
}

table td button {
  padding: 5px 10px;
}

/* main.component.css */

/* Style the form container */
.add-item-form {
  width: 40%;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px;
}

/* Style form labels */
.add-item-form label {
  display: block;
  margin-bottom: 5px;
}

/* Style form inputs */
.add-item-form input[type="text"],
.add-item-form input[type="number"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Style form buttons */
.add-item-form button[type="submit"],
.add-item-form button[type="button"] {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #001f3f;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.add-item-form button[type="submit"]:hover,
.add-item-form button[type="button"]:hover {
  background-color: #001f3f;
}
/*.button-row {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}*/
.form-row{
  display: flex;
}


.new-sale-button {
  margin-right: 10px;
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 60%; /* Adjust the left margin */
  margin-right: auto; /* Push the button to the left */
  margin-top: 30px;
}


.new-sale-button:hover {
  background-color: darkgreen;
}
.btn.btn-outline-danger {
  color: red;
  border: 1px solid red;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.btn.btn-outline-danger:hover {
  background-color: red;
  color: white;
  border-color: red;
}
.btn.btn-outline-warning {
  color: darkgoldenrod;
  border: 1px solid yellowgreen;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.btn.btn-outline-warning:hover {
  background-color: darkgoldenrod;
  color: white;
  border-color: yellowgreen;
}

.cancel-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: -80%; /* Adjust the left margin */
  margin-right: auto; /* Push the button to the left */
  margin-top: -10px;
}

.cancel-button:hover {
  background-color: darkred;
}



/* ================================================= */


/*.receipt {
  float: right;
  width: 30%; /* Adjust the width of the receipt as needed 
  margin-left: 20px; /* Add spacing between the container and the receipt 
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.receipt h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

.receipt-item {
  margin-bottom: 10px;
  color: #555;
}

.receipt-total {
  margin-top: 20px;
  font-weight: bold;
}

.receipt-total div {
  margin-bottom: 10px;
  color: #333;
}

.receipt button {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.receipt button:hover {
  background-color: #0056b3;
}

/* Add a subtle border to the receipt items 
.receipt-item div {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 5px;
}*/
